packages
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.buildlog
/.cache
/bin
/.target/
dart/.buildlog
dart/pubspec.lock
manifest.yml
packages
